
@{
    ViewData["Title"] = "Viewtest";
}

<h1>Solve</h1>
<p>This is text to get stuff done
    and again
    and again</p>
<hr />
<p>
    This is text to get stuff done
    and again
    and again
</p>

    <form asp-action="Solve">
        <div class="row">
            <div class="col">
                <input type="text" name="theWorld " />
            </div>
            <div class="col">

                <div class="col"><button claass="btn btn-danger" id="aButtton">a button to try</button></div>
            </div>
        </div>

    </formasp>